body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  background-image: url('./assets/restaurant.svg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.login-menu {
  border-radius: 25px;
  white-space: pre-line;
  margin: auto;
  border: 8px solid rgb(27, 27, 27);
  background-color: white;
  min-height: 400px;
  padding: 30px 62px;
  width: 600px;
}
.menu-img {
  float: left;
  width: 50%;
  padding: 10px;
  height: 300px;
}
.navigation-menu {
  align-items: center;
  justify-content: space-around;
  display: flex;
  background-color: rgb(255, 255, 255);
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  height: 5%;
  width: 100%;
  border-bottom: 3px solid rgb(0, 0, 0);
}
.navigation-menu a {
  float: center;
  color: rgb(0, 0, 0);
  text-align: center;
  padding: 14px 20px;
  text-decoration: unset;
}
.navigation-menu a:hover {
  size: 1.1;
}
.navigation-menu .signout {
  float: right;
}
.display-linebreak {
  white-space: pre-line;
  margin: auto;
  border: 3px solid rgb(0, 0, 0);
  background-color: white;
  min-height: 400px;
  padding: 30px 62px;
  width: 707px;
}
