body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  background-color: lightblue;
  opacity: 1;
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.display-linebreak {
  white-space: pre-line;
}

-CSS blueprint
  -create nav bar with warm colors and recognizable banner/logo
  -line up and tighten the size of the feed
  -intigrate sounds for certain click events
  -graphics for certain events
  -possible awards to be given to certain recipes
  -clean cards
  -profile designs and card layouts